body {
    margin: 0;
    padding: 0;
    border: 10px solid black;
}
.wrapper {
    width: calc( 100dvw - 18px );
    height: calc( 100dvh - 22px );
}
.wrapper > * {
    padding: 0;
    margin: 0;
}
.odst-first-in-never-out {
    border: 10px solid black;
}